<% content_for :title, "Create Task Note" %>

<div class="p-2">
  <%= form_for "task_note" do |f| %>
    <div class="mt-2">
      <label for="task_note_title" class="form-label">Title</label>
      <%= f.text_field "title", class: "form-control" %>
      <div class="invalid-feedback d-block">
        <%= @task_note.errors.full_messages_for(:title).first %>
      </div>
    </div>
    <div class="mt-2">
      <label for="task_note_description" class="form-label">Description</label>
      <%= f.text_area "description", class: "form-control" %>
      <div class="invalid-feedback d-block">
        <%= @task_note.errors.full_messages_for(:description).first %>
      </div>
    </div>
    <div class="mt-2">
      <label for="task_note_priority" class="form-label">Priority</label>
      <%= f.select "priority", TaskNote.priorities.keys.map { |s| [s.capitalize, s] }, {}, class: "form-select" %>
    </div>
    <div class="mt-2">
      <label for="task_note_due_date" class="form-label">Due Date</label>
      <%= f.datetime_field "due_date", class: "form-control" %>
      <div class="invalid-feedback d-block">
        <%= @task_note.errors.full_messages_for(:due_date).first %>
      </div>
    </div>
    <div class="mt-4">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>